@{
    ViewData["Title"] = "Kezdőoldal";
}
<header>

<div class="popover-header">
    <h1 class="h1">Üdvözöllek a Fit_Challenge oldalán!</h1>
</div>
<h2 class="h2">Ezen az oldalon figyelemmel kísérheted az edzéseidet, és nyilvántartatod a napi és a heti sporttevékenységed</h2>
<div class="img-fluid">
        <img src="/Images/gym2.jpg" alt="FitChallenge" horizontalAlign="Center" verticalAlign="Bottom">
</div>
</header>

<body>

</body>
